# Application name
spring.application.name=libraryManager


# --- HOST configuration ---
server.address=localhost
server.port=8080
server.protocol=http

# JPA / Hibernate settings
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.hbm2ddl.auto=update
spring.jpa.properties.hibernate.hbm2ddl.schema_export.show=true
spring.jpa.properties.hibernate.hbm2ddl.schema_export.delimiter=;
spring.jpa.properties.hibernate.hbm2ddl.schema_export.create_source=metadata
spring.jpa.properties.hibernate.hbm2ddl.schema_export.create_script_source=src/main/resources/schema.sql
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

# Datasource configuration
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://<HOST>:<PORT>/<DATABASE>?sslmode=require&channel_binding=require
spring.datasource.username=<USERNAME>
spring.datasource.password=<PASSWORD>


# --- Argon2 Hashing Configuration ---
spring.security.password.argon2.salt-length=16
spring.security.password.argon2.hash-length=32
spring.security.password.argon2.parallelism=1
spring.security.password.argon2.memory=4096
spring.security.password.argon2.iterations=3


# --- SMTP ---
spring.mail.smtp.host=smtp.gmail.com
spring.mail.smtp.port=587
spring.mail.smtp.username=your-email@gmail.com
spring.mail.smtp.password=your-app-password
spring.mail.smtp.auth=true
spring.mail.smtp.starttlsEnable=true
spring.mail.smtp.starttlsRequired=true

# --- Email defaults ---
spring.mail.email.from=your-email@gmail.com
spring.mail.email.defaultSubject=Notification
spring.mail.email.templatesPath=/templates/emails