# Application name
spring.application.name=libraryManager

# JPA / Hibernate settings
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.hbm2ddl.auto=update
spring.jpa.properties.hibernate.hbm2ddl.schema_export.show=true
spring.jpa.properties.hibernate.hbm2ddl.schema_export.delimiter=;
spring.jpa.properties.hibernate.hbm2ddl.schema_export.create_source=metadata
spring.jpa.properties.hibernate.hbm2ddl.schema_export.create_script_source=src/main/resources/schema.sql
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

# Datasource configuration
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://<HOST>:<PORT>/<DATABASE>?sslmode=require&channel_binding=require
spring.datasource.username=<USERNAME>
spring.datasource.password=<PASSWORD>
