name: Library Manager Plarform CI Workflow.

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]


jobs:

  ci:
    name: Test and Integrate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3


      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin


      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      

      - name: Recreate application.properties
        run: |
          echo "${{ secrets.APPLICATION_PROPERTIES }}" > src/main/resources/application.properties

      - name: Build with Maven
        run: ./mvnw clean package --batch-mode


      - name: Run tests
        run: ./mvnw test --batch-mode


      - name: Show test results
        if: always()
        run: cat target/surefire-reports/*.txt || echo "No test reports found"


  cd:
    name: Docker Build & Deploy
    needs: ci
    runs-on: ubuntu-latest

    if: >
      (github.event_name == 'push' && github.ref == 'refs/heads/master') ||
      (github.event_name == 'pull_request' && github.base_ref == 'master')

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Set environment variables
        run: |
          echo "ACR_HOST=${{ secrets.AZURE_ACR_HOST }}" >> $GITHUB_ENV
          echo "TAG=${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Login to Azure Container Registry (ACR)
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.AZURE_ACR_HOST }}
          username: ${{ secrets.AZURE_ACR_USERNAME }}
          password: ${{ secrets.AZURE_ACR_PASSWORD }}


      - name: Recreate application.properties
        run: |
          echo "${{ secrets.APPLICATION_PROPERTIES }}" > src/main/resources/application.properties

      - name: Build and Push Docker Image to ACR with Compose
        run: |
          # Build image with SHA tag
          docker compose build --build-arg TAG=${TAG} app
          
          # Tag SHA image as latest for Web App auto-deploy
          docker tag $ACR_HOST/library-app:${TAG} $ACR_HOST/library-app:latest
          
          # Push both tags
          docker compose push app:${TAG}
          docker push $ACR_HOST/library-app:latest
          
          

      #- name: Build and Push Docker Image to ACR with Compose
      #  run: |
      #    docker compose build
      #    docker compose push
      #    docker push $ACR_HOST/library-app:latest


